<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link href="./css/style.css" rel="stylesheet" />
  <title>
    <%= title %>
  </title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="./css/style.css" rel="stylesheet" />
</head>

<body class="bg-gray-200">
  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center   px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-left"> Login to your account</h1>
        <a href="/" class="bg-green-600 text-white px-4 py-2 rounded font-medium-bold mr-1 mb-1 border-gray-300">Back to
          Home Page</a> </p>
        <br>
        <form class="login" action="/session" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="py-3">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email" class="block border border-gray-light w-full p-2 rounded mb-3">
          </div>
          <div class="py-3">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker">
          </div>
          <div class="py-3">
            <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Sign
              in</button>
          </div>
        </form>
        <% if(messages && messages.error && messages.error.length> 0) { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <p class="bg-red-200 my-3 list-none rounded px-4 py-2">
              <%= messages.error[i] %>
            </p>
            <% } %>
              <% } %>
      </div>
    </div>
</body>

</html>
